<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SeleniumWebApplicationTesting/src/com/WebTable_Dec4/A_NewTours_Register_Country.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.WebTable_Dec4.A_NewTours_Register_Country"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SeleniumWebApplicationTesting"/>
</launchConfiguration>
